.track-links-flex{
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
gap: 15px;}

.wrapping-flex{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    height: 95%;
    align-items: center;
    
}
.vertical-wrapping-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100vw;
    align-items: center;
}


 .container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e1e8f8;
 }
 .container a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
 }
 .container a i{
    margin-right: 5px;
 }
 .container .download_loader.active{
    position: absolute;
    height: 14%;
    width: 100%;
    background: #fff;
    bottom: 0;
    justify-content: flex-start;
    border-radius: 0px 0px 3px 3px;
    overflow: hidden;
    animation: loader 10s forwards;
 }
 .store-toggle-button{
  border-radius: 50px;
  background-color: aqua;  
  padding: 8px;
 }
 @keyframes loader{
    0%{
        background: #2749ee;
        width: 0%;
        border-radius: 0px 0px 0px 3px;
    }
    30%{
        background: #2749ee;
        width: 30%;
        border-radius: 0px 0px 0px 3px;
    }
    50%{
        background: #2749ee;
        width: 50%;
        border-radius: 0px 0px 0px 3px;
    }
    90%{
        background: #2749ee;
        width: 90%;
        border-radius: 0px 0px 0px 3px;
    }
    100%{
        background: #2749ee;
        width: 100%;
        border-radius: 0px 0px 3px 3px;
    }
 } 