
@media screen and (max-width:480px) {
    .trackId{
        z-index: 1;
    }
     .vertical-map-flex{
    
        width:100vw;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
    }
    .vertical-map-flex svg{
        font-size: 2.5rem;
    }
    /*
    .horizontal-map-flex{
        display: flex;
        width: 50%;
        justify-content: center;
        height: 50%;
        align-items: center;
    } */
    /* .map{
        display: flex;
        aspect-ratio: 3/2;
    } */
  
    
    .leaflet-container{
        border-radius: 30px;
        height: 60vh;
        width: 100%;
    }
    .popup{
        height: 100%;
        width: 100%;
        background-color: aqua;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .track-description{
        background-color: aliceblue;
        height: 20vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
    /* .leaflet-control-container .leaflet-routing-container-hide{
        display: none;
    } */
