.user-details {
    height: 40px;
    width: 70%;
    border-radius: 30px;
  }
  
  .user-details:hover {
    background-color: whitesmoke;
  }
  
  .submit-btn {
    width: 70%;
    border-radius: 30px;
  }
  .submit-btn:hover {
    cursor: pointer;
    background-color: darkgray;
  }
  #login-box {
    height: 65%;
  width: 70%;
  position: absolute;
    top: 10vh;
    left: 10vw;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px plum;
    z-index: 1;
    opacity: 0.85;
    
  }
  .login-form {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40%;
    width: 100%;
  }
  .close-popup{
position: absolute;
left:10px;
top: 10px
  }